<div class="container">
  <div class="col-sm-6">
    <img src="public/images/graph.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Reach out to us!</h1>
    <p>Watch Comic:</p>
    <p> We'll get back to you soon!</p>
  </div>
</div>
