<div class="container">
  <div class="col-sm-6">
    <img src="./public/images/people.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    
    <p> when you want to make comic <a href="/maker">Here!!</a></p>
    <p> When you wnat to read comic <a href="/comic">Here!! </a> </p>
  </div>
</div>
