<div class="container">
  <div class="col-sm-6">
    <img src="./images/fruit.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1 class="title">Make comic in here!</h1>
    <h1>Our Courses</h1>
  </div>
</div>
